<template>
  <v-container class="main">
      <v-layout row wrap>

        <!-- search Container -->
        <v-flex xs12 class="div-background">
          <v-col class="col col-lg-12">
            <div class="display-2 font-weight-black white--text text-xs-center"><v-icon class="display-2" color="light-blue lighten-4">mdi-flag-variant</v-icon>Corp. Alliance Search</div>
          </v-col>
          <v-col class="col col-lg-12">
            <v-text-field :loading="load" v-model="searchInput" id="searchInput" @keyup.enter="searchAllianceAction" @click:append="searchAllianceAction" label="Search Alliances" color="light-blue lighten-4" dark append-icon="mdi-magnify"></v-text-field>
          </v-col>
          <v-col class="col col-lg-12">
            <v-slider min="1" max="100" label="Number of results"
          thumb-label color="blue-grey darken-4" dark v-model="numResults"></v-slider>
          </v-col>
        </v-flex>

        <!-- Table Container -->
        <v-flex xs12 class="div-background">
          <v-col class="col col-lg-12">
            <v-data-table
              :items="tableData"
              :headers="headers"
              no-data-text="No data"
              fixed-header dark>
              <template v-slot:item.portrait="{ item }">
                  <img :src="item.portrait.px128x128" style="width: 50px; height: 50px" />
              </template>
              <template v-slot:item.details="{ item }">
                <v-icon class="mr-2" color="light-blue lighten-4" @click="detailsButtonAlliance(item.id, item.name, item.portrait.px128x128)">
                  mdi-magnify
                </v-icon>
              </template>
            </v-data-table>
          </v-col>
        </v-flex>
      </v-layout>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
    name: 'Alliances',
    data() {
        return {
          token: null,
          dialog: false,
          numResults: 20,
          searchInput: "",
          headers: [
            { text: '', align: 'start', value: 'portrait', sortable: false , width: '5%' },
            { text: 'Name', align: 'start', value: 'name' },
            { text: 'Foundation date', value: 'founded' , width: '20%' },
            { text: 'Details', value: 'details', sortable: false , width: '5%' },
          ],
          load: false, //Loading input toggle
          tableData: [],
        }
    },
    methods: {
      //On search writing
      searchAllianceAction: async function (){

        this.tableData = [];//Empty the table

        if(this.searchInput != ""){

          this.load = true; //Input loading

          let allyIds = await axios('https://esi.evetech.net/dev/search?categories=alliance&search="'+this.searchInput+'"');
          console.log(allyIds);
          allyIds = allyIds['data']['alliance'];

          if(allyIds != undefined){
            for (var i = 0; i < allyIds.length; i++) {

              var item = {};

              //Alliance info retrieval
                await axios({
                  method: 'get',
                  url: 'https://esi.evetech.net/latest/alliances/'+allyIds[i],

                }).then((response) => {
                  let data = response.data;

                   item = {id: allyIds[i], founder_id: data['creator_id'], name: data['name'], portrait: null, founded: data['date_founded'], creator_corporation: data['creator_corporation_id'], executor_corporation: data['executor_corporation_id'], ticker: data['ticker']};

                   if(item.founded){

                     let dateString = item.founded.split(/\D+/);

                     item.founded = dateString[2]+"/"+dateString[1]+"/"+dateString[0]+" "+dateString[3]+":"+dateString[4];

                   }

                }, (error) => {
                  console.log(error);
                })

              //Alliance icon retrieval
                await axios({
                  method: 'get',
                  url: 'https://esi.evetech.net/latest/alliances/'+allyIds[i]+'/icons/',

                }).then((response) => {
                  let data = response.data;

                  item['portrait'] = data;

                }, (error) => {
                  console.log(error);
                })
                console.log(item);
                if(i > this.numResults-1){//stop searching when slider amount of alliances
                  break;
                }else{
                  this.tableData.push(item);
                }
            }
          }
        }

        this.load = false; //Input loading
      },
    }
};

</script>

<style scoped>

</style>
