<template>
    <v-container class="main">
        <v-layout row wrap>

            <!-- search Container -->
            <v-flex xs12 class="div-background">
              <v-col class="col col-lg-12">
                <div class="display-2 font-weight-black white--text text-xs-center"><v-icon class="display-2" color="light-blue lighten-4">mdi-account</v-icon> Character Search</div>
              </v-col>
              <v-col class="col col-lg-12">
                <v-text-field :loading="load" v-model="searchInput" id="searchInput" @keyup.enter="searchCharsAction" @click:append="searchCharsAction" label="Search Characters" color="light-blue lighten-4" dark append-icon="mdi-magnify"></v-text-field>
              </v-col>
              <v-col class="col col-lg-12">
                <v-slider min="1" max="100" label="Number of results"
              thumb-label color="blue-grey darken-4" dark v-model="numResults"></v-slider>
              </v-col>

            </v-flex>

            <!-- Table Container -->
            <v-flex xs12 class="div-background">
              <v-col class="col col-lg-12">
                <v-data-table
                  :items="tableData"
                  :headers="headers"
                  no-data-text="No data"
                  dark>
                  <template v-slot:item.portrait="{ item }">
                      <img :src="item.portrait.px256x256" style="width: 50px; height: 50px" />
                  </template>
                  <template v-slot:item.details="{ item }">
                    <v-icon class="mr-2" color="light-blue lighten-4" @click="detailsButtonChars(item.id, item.name, item.portrait.px512x512)">
                      mdi-magnify
                    </v-icon>
                  </template>
                </v-data-table>
              </v-col>
            </v-flex>

            <!-- Info Modal -->
            <v-dialog v-model="dialog" fullscreen dark hide-overlay transition="dialog-bottom-transition">
              <v-card>
                  <v-toolbar dark color="blue-grey darken-4">
                    <v-btn icon dark @click="dialog = false">
                      <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-toolbar-title><b>{{characterName}}</b> ({{characterId}}) Character Information</v-toolbar-title>
                  </v-toolbar>
                  <v-container>
                  <v-list three-line subheader>
                    <v-list-item>
                      <v-list-item-content>
                        <b-container>
                          <b-row>
                            <b-col cols="4">
                              <b-row>
                                <b-img :src="characterPortrait" alt="No Image" fluid style="width: -webkit-fill-available;"></b-img>
                              </b-row>
                              <br/>
                            </b-col>

                            <!-- Character Description -->
                            <b-col cols="8">
                              <h2>Description:</h2>
                              <br/>
                              <div id="descriptionBox" class="overflow-auto" v-html="characterData.description">
                              </div>
                            </b-col>
                          </b-row>
                        </b-container>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list>

                  <!-- General information -->
                  <b-row>
                    <v-expansion-panels popout>
                      <v-expansion-panel>
                        <v-expansion-panel-header>General information</v-expansion-panel-header>
                        <v-expansion-panel-content>
                          <v-list disabled twoLine>

                            <v-subheader>General information</v-subheader>
                            <v-list-item-group>
                              <!-- Character creation time -->
                              <v-list-item>
                                <v-list-item-icon>
                                  <v-icon color="light-blue lighten-4">mdi-cake</v-icon>
                                </v-list-item-icon>
                                <v-list-item-content>
                                  <v-list-item-title> Created in:</v-list-item-title>
                                  <v-list-item-subtitle v-text="characterData.birthday"></v-list-item-subtitle>
                                </v-list-item-content>
                              </v-list-item>

                              <!-- Character Race -->
                                <v-list-item>
                                  <v-list-item-icon>
                                    <v-icon color="light-blue lighten-4">mdi-account-group</v-icon>
                                  </v-list-item-icon>
                                  <v-list-item-content>
                                    <v-list-item-title>Race:</v-list-item-title>
                                    <v-list-item-subtitle v-text="characterRace"></v-list-item-subtitle>
                                  </v-list-item-content>
                                </v-list-item>

                              <!-- Character Bloodline -->
                                <v-list-item>
                                  <v-list-item-icon>
                                    <v-icon color="light-blue lighten-4">mdi-water</v-icon>
                                  </v-list-item-icon>
                                  <v-list-item-content>
                                    <v-list-item-title>Blood line:</v-list-item-title>
                                    <v-list-item-subtitle v-text="characterBloodline"></v-list-item-subtitle>
                                  </v-list-item-content>
                                </v-list-item>

                              <!-- Character Ancestry -->
                                <v-list-item>
                                  <v-list-item-icon>
                                    <v-icon color="light-blue lighten-4">mdi-account-child</v-icon>
                                  </v-list-item-icon>
                                  <v-list-item-content>
                                    <v-list-item-title>Ancestry:</v-list-item-title>
                                    <v-list-item-subtitle v-text="characterAncestry"></v-list-item-subtitle>
                                  </v-list-item-content>
                                </v-list-item>
                            </v-list-item-group>
                          </v-list>
                        </v-expansion-panel-content>
                      </v-expansion-panel>
                    </v-expansion-panels>
                  </b-row>
                </v-container>

                <v-divider></v-divider>

                <v-container>
                  <v-list three-line subheader>
                    <header>Corporation Information</header>

                    <v-subheader>Current Corporation:</v-subheader>
                    <v-list two-line>
                      <v-list-item>
                        <v-list-item-icon>
                          <v-icon color="light-blue lighten-4">mdi-domain</v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                          <v-list-item-title>{{characterCorporation}}</v-list-item-title>
                          <v-list-item-subtitle>{{characterCorporationHome}}</v-list-item-subtitle>
                        </v-list-item-content>
                      </v-list-item>
                    </v-list>

                    <v-subheader>Corporation History:</v-subheader>

                    <b-col cols="12">
                      <v-data-table
                        :items="corpHistoryData"
                        :headers="charaHeaders"
                        no-data-text="No corporation found"
                        dark>
                        <template v-slot:item.icon="{ item }">
                            <img :src="item.icon"/>
                        </template>
                      </v-data-table>
                    </b-col>

                  </v-list>
                </v-container>
              </v-card>
            </v-dialog>
        </v-layout>
    </v-container>
</template>

<script>
import axios from "axios";

export default {

    name: 'Chars',
    data() {
      return {
        token: null,
        dialog: false,
        numResults: 20,
        searchInput: "",
        headers: [
          { text: '', align: 'start', value: 'portrait', sortable: false , width: '5%' },
          { text: 'Name', align: 'start', value: 'name' },
          { text: 'Description', value: 'description' },
          { text: 'Details', value: 'details', sortable: false , width: '5%' },
        ],
        charaHeaders: [
          { text: '', align: 'start', value: 'icon', sortable: false , width: '5%' },
          { text: 'Corp. Name', value: 'name' },
          { text: 'Join date', value: 'start_date' },
          { text: 'Members', value: 'members' , width: '5%' },
        ],
        load: false, //Loading input toggle
        characterName: null,
        characterId: null,
        characterPortrait: null,
        characterRace: null,
        characterRaceDescription: null,
        characterBloodline: null,
        characterBloodlineDescription: null,
        characterAncestry: null,
        characterAncestryDescription: null,
        characterCorporation: null,
        characterCorporationHome: null,
        characterCorporationHomeId: null,
        tableData: [], //table data
        corpHistoryData: [], //corporation history data
        characterData: [], //character data
      }
    },
    methods: {


      //On search writing
      searchCharsAction: async function (){

        this.tableData = [];//Empty the table

        if(this.searchInput != ""){

          this.load = true; //Input loading

          let charIds = await axios('https://esi.evetech.net/dev/search?categories=character&search="'+this.searchInput+'"');
          charIds = charIds['data']['character'];

          for (var i = 0; i < charIds.length; i++) {

            var item = {};

            //Character info retrieval
              await axios({
                method: 'get',
                url: 'https://esi.evetech.net/latest/characters/'+charIds[i],

              }).then((response) => {
                let data = response.data;

                item = {id: charIds[i], gender: data['gender'], name: data['name'], description: data['description'], portrait: null, race:{raceName: "", raceDescription: ""}};

              }, (error) => {
                console.log(error);
              })

            //Character portrait retrieval
              await axios({
                method: 'get',
                url: 'https://esi.evetech.net/latest/characters/'+charIds[i]+'/portrait/',

              }).then((response) => {
                let data = response.data;

                item['portrait'] = data;

              }, (error) => {
                console.log(error);
              })

              if(i > this.numResults-1){//stop searching when slider amount of chars
                break;
              }else{
                this.tableData.push(item);
              }
          }
        }

        this.load = false; //Input loading
      },


      //Click on Details Button
      detailsButtonChars: async function(id, name, portrait){

        this.characterId = id;
        this.characterName = name;
        this.characterPortrait = portrait;

        this.characterData = []; //Empty character information
        this.corpHistoryData = []; //Empty character corporation records

        this.load = true;

        //Get Character public information
          await axios({
            method: 'get',
            url: 'https://esi.evetech.net/latest/characters/'+id,

          }).then((response) => {
            let data = response.data;

            this.characterData = data;

            let dateString = data.birthday.split(/\D+/);
            this.characterData.birthday = dateString[2]+"/"+dateString[1]+"/"+dateString[0]+" "+dateString[3]+":"+dateString[4];

            //If there is no description
            if(this.characterData.description == ""){
              this.characterData.description = "<b>No description provided<b>";
            }
          }, (error) => {
            console.log(error);
          })

        //Get Character race information
          await axios({
            method: 'get',
            url: 'https://esi.evetech.net/latest/universe/races/',

          }).then((response) => {
            let data = response.data;
            let race = data.find(data => data.race_id == this.characterData.race_id);

            this.characterRace = race['name'];
            this.characterRaceDescription = race['description'];

          }, (error) => {
            console.log(error);
          })

        //Get Character bloodline information
          await axios({
            method: 'get',
            url: 'https://esi.evetech.net/latest/universe/bloodlines/',

          }).then((response) => {
            let data = response.data;
            let bloodLine = data.find(data => data.bloodline_id == this.characterData.bloodline_id);

            this.characterBloodline = bloodLine['name'];
            this.characterBloodlineDescription = bloodLine['description'];

          }, (error) => {
            console.log(error);
          })

        //Get Character ancestry information
          await axios({
            method: 'get',
            url: 'https://esi.evetech.net/latest/universe/ancestries/',

          }).then((response) => {
            let data = response.data;
            let ancestry = data.find(data => data.bloodline_id == this.characterData.bloodline_id);

            this.characterAncestry = ancestry['name'];
            this.characterAncestryDescription = ancestry['description'];

          }, (error) => {
            console.log(error);
          })

        //Get Character Corporations information
          await axios({
            method: 'get',
            url: 'https://esi.evetech.net/latest/corporations/'+this.characterData.corporation_id,

          }).then((response) => {
            let data = response.data;
            this.characterCorporation = data.name;
            this.characterCorporationHomeId = data.home_station_id;

          }, (error) => {
            console.log(error);
          })

        //Get Corporation Home Station information
          await axios({
            method: 'get',
            url: 'https://esi.evetech.net/latest/universe/stations/'+this.characterCorporationHomeId,

          }).then((response) => {
            let data = response.data;
            this.characterCorporationHome = data.name;

          }, (error) => {
            console.log(error);
            this.characterCorporationHome = "The location is unavailable";
          })

        //Get Corporation history information
          await axios({
            method: 'get',
            url: 'https://esi.evetech.net/latest/characters/'+id+'/corporationhistory/',

          }).then((response) => {
            let data = response.data;
            this.corpHistoryData = data;

          }, (error) => {
            console.log(error);
          })

        //Get Corporation history names and icons and format timestamp
          for (var i = 0; i < this.corpHistoryData.length; i++) {

            this.corpHistoryData[i]['id'] = i;//ID for the register

            //Corporation Info
              await axios({
                method: 'get',
                url: 'https://esi.evetech.net/latest/corporations/'+this.corpHistoryData[i]['corporation_id'],

              }).then((response) => {
                let data = response.data;
                this.corpHistoryData[i]['name'] = data.name;
                this.corpHistoryData[i]['members'] = data.member_count;

              }, (error) => {
                console.log(error);
              })

            //Icons
              await axios({
                method: 'get',
                url: 'https://esi.evetech.net/latest/corporations/'+this.corpHistoryData[i]['corporation_id']+'/icons/',

              }).then((response) => {
                let data = response.data;

                //### Provisional fix due to an error on the server response ###//
                data.px128x128 = data.px128x128.replace("/Corporation", "Corporation");
                data.px256x256 = data.px256x256.replace("/Corporation", "Corporation");
                data.px64x64 = data.px64x64.replace("/Corporation", "Corporation");
                //### Provisional fix due to an error on the server response ###//

                this.corpHistoryData[i]['icon'] = data.px64x64;

              }, (error) => {
                console.log(error);
              })

          }

          this.$set(this.corpHistoryData[0], 0, this.corpHistoryData[0]); //forcing vue to acknowledge changes >:(
          //For future reference: https://vuejs.org/v2/guide/reactivity.html#Change-Detection-Caveats

          this.load = false;
          this.dialog = true;
      }
    }
};

</script>

<style scoped>
  .div-background{
    border-radius: 20px;
    background-color: rgba(0,0,0, 0.6);
    margin: 25px;
  }

  td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #descriptionBox{
    max-height: 600px;
    min-height: 300px;
    background-color: rgba(130, 130, 130, 0.2);
    border-radius: 15px;
    padding: 15px;
  }

</style>
