<template>
  <v-container class="main">
      <v-layout row wrap>

        <!-- search Container -->
        <v-flex xs12 class="div-background">
          <v-col class="col col-lg-12">
            <div class="display-2 font-weight-black white--text text-xs-center"><v-icon class="display-2" color="light-blue lighten-4">mdi-book</v-icon>Corporation Search</div>
          </v-col>
          <v-col class="col col-lg-12">
            <v-text-field :loading="load" v-model="searchInput" id="searchInput" @keyup.enter="searchCorpsAction" @click:append="searchCorpsAction" label="Search Corporations" color="light-blue lighten-4" dark append-icon="mdi-magnify"></v-text-field>
          </v-col>
          <v-col class="col col-lg-12">
            <v-slider min="1" max="100" label="Number of results"
          thumb-label color="blue-grey darken-4" dark v-model="numResults"></v-slider>
          </v-col>
        </v-flex>

        <!-- Table Container -->
        <v-flex xs12 class="div-background">
          <v-col class="col col-lg-12">
            <v-data-table
              :items="tableData"
              :headers="headers"
              no-data-text="No data"
              fixed-header dark>
              <template v-slot:item.portrait="{ item }">
                  <img :src="item.portrait.px256x256" style="width: 50px; height: 50px" />
              </template>
              <template v-slot:item.details="{ item }">
                <v-icon class="mr-2" color="light-blue lighten-4" @click="detailsButtonCorps(item.id, item.name, item.portrait.px256x256)">
                  mdi-magnify
                </v-icon>
              </template>
            </v-data-table>
          </v-col>
        </v-flex>

        <!-- Info Modal -->
        <v-dialog v-model="dialog" fullscreen dark hide-overlay transition="dialog-bottom-transition">
          <v-card>
              <v-toolbar dark color="blue-grey darken-4">
                <v-btn icon dark @click="dialog = false">
                  <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>{{corpName}}</v-toolbar-title>
              </v-toolbar>
              <v-container>
              <v-list three-line subheader>
                <v-list-item>
                  <v-list-item-content>
                    <b-container>
                      <b-row>
                        <b-col cols="4">
                          <b-row>
                            <b-img :src="corpPortrait" alt="No Image" fluid style="max-width: 200px; width: -webkit-fill-available;"></b-img>
                          </b-row>
                        </b-col>

                        <!-- Corporation Description -->
                        <b-col cols="8">
                          <h2>Description:</h2>
                          <br/>
                          <div id="descriptionBox" class="overflow-auto" v-html="corpData.description">
                          </div>
                        </b-col>
                      </b-row>

                      <!-- General information -->
                      <b-row>
                        <v-expansion-panels popout>
                          <v-expansion-panel>
                            <v-expansion-panel-header>General information</v-expansion-panel-header>
                            <v-expansion-panel-content>
                              <v-list disabled twoLine>

                                <v-list-item-group>
                                  <!-- Corporation creation time -->
                                  <v-list-item>
                                    <v-list-item-icon>
                                      <v-icon color="light-blue lighten-4">mdi-cake</v-icon>
                                    </v-list-item-icon>
                                    <v-list-item-content>
                                      <v-list-item-title> Created in:</v-list-item-title>
                                      <v-list-item-subtitle>{{corpData.date_founded}}</v-list-item-subtitle>
                                    </v-list-item-content>
                                  </v-list-item>

                                  <!-- Corporation Shares -->
                                    <v-list-item>
                                      <v-list-item-icon>
                                        <v-icon color="light-blue lighten-4">mdi-poll-box</v-icon>
                                      </v-list-item-icon>
                                      <v-list-item-content>
                                        <v-list-item-title>Shares:</v-list-item-title>
                                        <v-list-item-subtitle>{{corpShares}}</v-list-item-subtitle>
                                      </v-list-item-content>
                                    </v-list-item>

                                  <!-- Corporation Taxes -->
                                    <v-list-item>
                                      <v-list-item-icon>
                                        <v-icon color="light-blue lighten-4">mdi-currency-usd-circle-outline</v-icon>
                                      </v-list-item-icon>
                                      <v-list-item-content>
                                        <v-list-item-title>Tax rate:</v-list-item-title>
                                        <v-list-item-subtitle>{{corpTaxrate}} %</v-list-item-subtitle>
                                      </v-list-item-content>
                                    </v-list-item>

                                  <!-- Corporation Member count -->
                                    <v-list-item>
                                      <v-list-item-icon>
                                        <v-icon color="light-blue lighten-4">mdi-account-group</v-icon>
                                      </v-list-item-icon>
                                      <v-list-item-content>
                                        <v-list-item-title>Members:</v-list-item-title>
                                        <v-list-item-subtitle>{{corpMembers}}</v-list-item-subtitle>
                                      </v-list-item-content>
                                    </v-list-item>
                                </v-list-item-group>
                              </v-list>
                            </v-expansion-panel-content>
                          </v-expansion-panel>
                        </v-expansion-panels>
                      </b-row>

                    </b-container>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-container>

            <v-divider></v-divider>

            <v-container>
              <v-list three-line subheader>
                <header>Corporation Information</header>

                <v-subheader>CEO Information:</v-subheader>
                <v-list three-line subheader>
                  <v-list-item>
                    <v-list-item-content>
                      <header>{{characterName}}</header>
                      <b-container>
                        <b-row>
                          <b-col cols="4">
                            <b-row>
                              <b-img :src="characterPortrait" alt="No Image" fluid style="width: -webkit-fill-available;"></b-img>
                            </b-row>
                            <br/>
                            <div>

                            </div>
                          </b-col>

                          <!-- Character Description -->
                          <b-col cols="8">
                            <h2>Description:</h2>
                            <br/>
                            <div id="descriptionBox" class="overflow-auto" v-html="characterData.description">
                            </div>
                          </b-col>
                        </b-row>

                        <!-- General information -->
                        <b-row>
                          <v-expansion-panels popout>
                            <v-expansion-panel>
                              <v-expansion-panel-header>General information</v-expansion-panel-header>
                              <v-expansion-panel-content>
                                <v-list disabled twoLine>

                                  <v-list-item-group>
                                    <!-- Character creation time -->
                                    <v-list-item>
                                      <v-list-item-icon>
                                        <v-icon color="light-blue lighten-4">mdi-cake</v-icon>
                                      </v-list-item-icon>
                                      <v-list-item-content>
                                        <v-list-item-title> Created in:</v-list-item-title>
                                        <v-list-item-subtitle v-text="characterData.birthday"></v-list-item-subtitle>
                                      </v-list-item-content>
                                    </v-list-item>

                                    <!-- Character Race -->
                                      <v-list-item>
                                        <v-list-item-icon>
                                          <v-icon color="light-blue lighten-4">mdi-account-group</v-icon>
                                        </v-list-item-icon>
                                        <v-list-item-content>
                                          <v-list-item-title>Race:</v-list-item-title>
                                          <v-list-item-subtitle v-text="characterRace"></v-list-item-subtitle>
                                        </v-list-item-content>
                                      </v-list-item>

                                    <!-- Character Bloodline -->
                                      <v-list-item>
                                        <v-list-item-icon>
                                          <v-icon color="light-blue lighten-4">mdi-water</v-icon>
                                        </v-list-item-icon>
                                        <v-list-item-content>
                                          <v-list-item-title>Blood line:</v-list-item-title>
                                          <v-list-item-subtitle v-text="characterBloodline"></v-list-item-subtitle>
                                        </v-list-item-content>
                                      </v-list-item>

                                    <!-- Character Ancestry -->
                                      <v-list-item>
                                        <v-list-item-icon>
                                          <v-icon color="light-blue lighten-4">mdi-account-child</v-icon>
                                        </v-list-item-icon>
                                        <v-list-item-content>
                                          <v-list-item-title>Ancestry:</v-list-item-title>
                                          <v-list-item-subtitle v-text="characterAncestry"></v-list-item-subtitle>
                                        </v-list-item-content>
                                      </v-list-item>
                                  </v-list-item-group>
                                </v-list>
                              </v-expansion-panel-content>
                            </v-expansion-panel>
                          </v-expansion-panels>
                        </b-row>

                      </b-container>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>

                <v-subheader v-if="this.token != null">Corporation members:</v-subheader>

                <b-col cols="10" offset="1" v-if="this.token != null">
                  <v-simple-table fixed-header dark height="400px" dense>
                      <thead>
                        <tr>
                          <th width="10%"></th>
                          <th width="39%" class="text-left">Corp.</th>
                          <th width="30%" class="text-left">Join Date</th>
                          <th width="20%" class="text-left">Members</th>
                          <th width="1%"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- WIP -->
                      </tbody>
                  </v-simple-table>
                </b-col>

              </v-list>
            </v-container>
          </v-card>
        </v-dialog>
      </v-layout>
  </v-container>
</template>

<script>
  import axios from "axios";

  export default {

      name: 'Corps',
      data() {
        return {
          token: null,
          dialog: false,
          numResults: 20,
          searchInput: "",
          headers: [
            { text: '', align: 'start', value: 'portrait', sortable: false , width: '5%' },
            { text: 'Name', align: 'start', value: 'name' },
            { text: 'Foundation date', value: 'founded' },
            { text: 'Members', value: 'members' },
            { text: 'Details', value: 'details', sortable: false , width: '5%' },
          ],
          load: false, //Loading input toggle
          tableData: [],
          corpName: null,
          corpId: null,
          corpPortrait: null,
          corpDescription: null,
          CorporationHome: null,
          CorporationHomeId: null,
          corpMembers: null,
          corpTaxrate: null,
          corpShares: null,
          corpData: [], //Corporation Data
          characterName: null,
          characterId: null,
          characterPortrait: null,
          characterRace: null,
          characterRaceDescription: null,
          characterBloodline: null,
          characterBloodlineDescription: null,
          characterAncestry: null,
          characterAncestryDescription: null,
          characterData: [], //CEO data
        }
      },
      methods:{
        //On search writing
        searchCorpsAction: async function (){

          this.tableData = [];//Empty the table

          if(this.searchInput != ""){

            this.load = true; //Input loading

            let corpIds = await axios('https://esi.evetech.net/latest/search?categories=corporation&search="'+this.searchInput+'"');

            corpIds = corpIds['data']['corporation'];

            if(corpIds != undefined){
              for (var i = 0; i < corpIds.length; i++) {

                var item = {};

                //Corporation info retrieval
                  await axios({
                    method: 'get',
                    url: 'https://esi.evetech.net/latest/corporations/'+corpIds[i],

                  }).then((response) => {
                    let data = response.data;

                    item = {id: corpIds[i], ceo_id: data['ceo_id'], name: data['name'], description: data['description'], portrait: null, founded: data['date_founded'], members: data['member_count']};

                    if(item.founded){

                      let dateString = item.founded.split(/\D+/);

                      item.founded = dateString[2]+"/"+dateString[1]+"/"+dateString[0]+" "+dateString[3]+":"+dateString[4];

                    }

                  }, (error) => {
                    console.log(error);
                  })

                //corporation icon retrieval
                  await axios({
                    method: 'get',
                    url: 'https://esi.evetech.net/latest/corporations/'+corpIds[i]+'/icons/',

                  }).then((response) => {
                    let data = response.data;

                    item['portrait'] = data;

                  }, (error) => {
                    console.log(error);
                  })

                  if(i > this.numResults-1){//stop searching when slider amount of corporations
                    break;
                  }else{
                    this.tableData.push(item);
                  }
              }
            }
          }

          this.load = false; //Input loading
        },

        //Click on Details Button
        detailsButtonCorps: async function(id, name, portrait){
          this.corpId = id;
          this.corpName = name;
          this.corpPortrait = portrait;

          this.corpData = []; //Empty Corporation information

          this.load = true;

          //###CORPORATION###
            //Get Corporation public information
              await axios({
                method: 'get',
                url: 'https://esi.evetech.net/latest/corporations/'+id,

              }).then((response) => {
                let data = response.data;

                this.corpData = data;

                //If there is no date
                if(data.date_founded == "" || data.date_founded == undefined || data.date_founded == null){
                  this.corpData.date_founded = "Original";
                }else{
                  let dateString = data.date_founded.split(/\D+/);
                  data.date_founded = dateString[2]+"/"+dateString[1]+"/"+dateString[0]+" "+dateString[3]+":"+dateString[4];
                }

                this.corpMembers = data.member_count;
                this.corpTaxrate = data.tax_rate;
                this.corpShares = data.shares;

                //If there is no description
                if(this.corpData.description == "Enter a description of your corporation here."){
                  this.corpData.description = "<b>No description provided<b>";
                }
                console.log(this.corpData);
              }, (error) => {
                console.log(error);
              })

          //###CEO###
            //Get CEO public information
              await axios({
                method: 'get',
                url: 'https://esi.evetech.net/latest/characters/'+this.corpData.ceo_id,

              }).then((response) => {
                let data = response.data;
                this.characterData = data;
                this.characterName = data.name;

                let dateString = data.birthday.split(/\D+/);
                this.characterData.birthday = dateString[2]+"/"+dateString[1]+"/"+dateString[0]+" "+dateString[3]+":"+dateString[4];

                //If there is no description
                if(this.characterData.description == ""){
                  this.characterData.description = "<b>No description provided<b>";
                }

              }, (error) => {
                console.log(error);
              })

              //CEO portrait retrieval
                await axios({
                  method: 'get',
                  url: 'https://esi.evetech.net/latest/characters/'+this.corpData.ceo_id+'/portrait/',

                }).then((response) => {
                  let data = response.data;

                  //### Provisional fix due to an error on the server response ###//
                  // data.px128x128 = data.px128x128.replace("/Corporation", "Corporation");
                  // data.px256x256 = data.px256x256.replace("/Corporation", "Corporation");
                  // data.px64x64 = data.px64x64.replace("/Corporation", "Corporation");
                  //### Provisional fix due to an error on the server response ###//

                  this.characterPortrait = data.px512x512;
                  console.log(this.characterPortrait);
                }, (error) => {
                  console.log(error);
                })

              //Get CEO race information
                await axios({
                  method: 'get',
                  url: 'https://esi.evetech.net/latest/universe/races/',

                }).then((response) => {
                  let data = response.data;
                  let race = data.find(data => data.race_id == this.characterData.race_id);

                  this.characterRace = race['name'];
                  this.characterRaceDescription = race['description'];

                }, (error) => {
                  console.log(error);
                })

                //Get CEO bloodline information
                  await axios({
                    method: 'get',
                    url: 'https://esi.evetech.net/latest/universe/bloodlines/',

                  }).then((response) => {
                    let data = response.data;
                    let bloodLine = data.find(data => data.bloodline_id == this.characterData.bloodline_id);

                    this.characterBloodline = bloodLine['name'];
                    this.characterBloodlineDescription = bloodLine['description'];

                  }, (error) => {
                    console.log(error);
                  })

                //Get CEO ancestry information
                  await axios({
                    method: 'get',
                    url: 'https://esi.evetech.net/latest/universe/ancestries/',

                  }).then((response) => {
                    let data = response.data;
                    let ancestry = data.find(data => data.bloodline_id == this.characterData.bloodline_id);

                    this.characterAncestry = ancestry['name'];
                    this.characterAncestryDescription = ancestry['description'];

                  }, (error) => {
                    console.log(error);
                  })

                //Get CEO Corporations information
                  await axios({
                    method: 'get',
                    url: 'https://esi.evetech.net/latest/corporations/'+this.characterData.corporation_id,

                  }).then((response) => {
                    let data = response.data;
                    this.characterCorporation = data.name;
                    this.characterCorporationHomeId = data.home_station_id;

                  }, (error) => {
                    console.log(error);
                  })

            this.load = false;
            this.dialog = true;
        }
      }
    };
</script>

<style>
  .div-background{
    border-radius: 20px;
    background-color: rgba(0,0,0, 0.6);
    margin: 25px;
  }

  td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #descriptionBox{
    max-height: 600px;
    min-height: 300px;
    background-color: rgba(130, 130, 130, 0.2);
    border-radius: 15px;
    padding: 15px;
  }

</style>
