<template>
    <v-container fluid fill-height class="main">
        <v-layout align-center column pa-5>
            <div class="display-4 font-weight-black white--text text-xs-center mb-6">EVE Online information APP</div>
            <div class="display-2 white--text text-xs-center mb-3">Because stay informed is a MUST</div>
            <div class="white--text text-xs-center">What are you looking for?</div>
            <div class="text-center">
              <v-row>
                <template v-for="(item, index) in items">
                  <v-col class="col-3" v-bind:key="index">
                    <v-tooltip bottom v-bind:key="index">

                        <template v-slot:activator="{ on }">

                          <!-- Router Buttons -->
                          <router-link :to="item.route">
                            <v-btn v-on="on" :key="index" class="mx-2" fab dark large color="blue-grey darken-4">
                                <v-icon color="light-blue lighten-4">{{ item.icon }}</v-icon>
                            </v-btn>
                          </router-link>

                        </template>

                        <!-- Router Tooltips message -->
                        <span v-bind:key="index">{{ item.msg }}</span>

                    </v-tooltip>
                  </v-col>
                </template>
              </v-row>
            </div>
        </v-layout>
    </v-container>
</template>

<script>
export default {
    name: 'Home',
    data() {
        return {
            items: [
                {icon: 'mdi-account', msg: 'Characters Info', route: "/Chars" },
                {icon: 'mdi-book', msg: 'Corporations Info', route: "/Corps" },
                {icon: 'mdi-flag-variant', msg: 'Alliances Info', route: "/Alliances" },
                {icon: 'mdi-login', msg: 'Login', route: "/Login"  },
            ]
        };
    }
};

</script>

<style scoped>

a {
    text-decoration: none;
}

</style>
