<template>
  <span>
    <v-toolbar app color="grey darken-4" dark>
        <v-icon large color="light-blue lighten-4">mdi-death-star-variant</v-icon>
        <router-link to="/">
          <v-toolbar-title>{{appTitle}}</v-toolbar-title>
        </router-link>
        <v-btn flat color="blue-grey darken-4" class="ml-auto" @click="drawer = !drawer">Menu</v-btn>
    </v-toolbar>
    <v-navigation-drawer color="blue-grey darken-4" v-model="drawer"
        absolute
        temporary
        dark
        >
        <v-list nav dense>
          <v-list-item-group v-model="group">
            <template v-for="(item, index) in items">
              <v-list-item :key="index">
                  <v-list-item-icon>
                    <v-icon color="light-blue lighten-4">{{ item.icon }}</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                    <router-link :to="item.route">
                      <v-list-tile-title>
                        <h1>{{item.title}}</h1>
                      </v-list-tile-title>
                      <v-spacer></v-spacer>
                      <v-list-item-subtitle v-html="item.subtitle">
                        {{item.subtitle}}
                      </v-list-item-subtitle>
                    </router-link>
                  </v-list-item-content>
              </v-list-item>
            </template>
          </v-list-item-group>
        </v-list>
    </v-navigation-drawer>
  </span>
</template>

<script>

export default {
    name: 'Navigation',
    data() {
        return {
            appTitle: 'EVE App',
            drawer: false,
            items: [
                {icon: 'mdi-home',title: 'Home', subtitle: 'Main Page', route: "/" },
                {icon: 'mdi-account',title: 'Characters', subtitle: 'Character Info', route: "/Chars" },
                {icon: 'mdi-book',title: 'Corporations', subtitle: 'Corp. Info', route: "/Corps" },
                {icon: 'mdi-flag-variant',title: 'Alliances', subtitle: 'Alliances Info', route: "/Alliances" },
                {icon: 'mdi-login',title: 'Login', subtitle: 'Private access', route: "/Login"  },
            ]
        };
    }
};
</script>

<style scoped>

.v-toolbar__title{
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  color: white;
}

</style>
